/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    text-align: justify;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Gray Theme
   =================== */

.header-container {
}

nav#main-menu,
nav.anchorific{
		margin-top: -12px;
    border-top: 12px solid #4d4d4d;
		background: #4d4d4d;
}

.footer-container {
    border-top: 12px solid #4d4d4d;
}

.header-container .title {
		color: #4d4d4d;
}

.footer-container {
    background: #b3b3b3;
}
#footer {   /* Footerbereich */
    background-color: #b3b3b3;
    color: #ffffff;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
#left {     /* Linke Spalte mit 33% Breite und float:left */
    width: 33%;
    float: left;
    padding: 15px 0px 0px 10px;
    margin: 0px auto 0px auto;
    text-align: left;
}
#center {   /* Mittlere Spalte mit 33% Breite und float:left */
    width: 33%;
    float: left;
    padding: 15px 0px 0px 0px;
    margin: 0px auto 0px auto;
    text-align: left;
}
#right {    /* Rechte Spalte ohne feste Breite und float:right */
    width: auto;
    float: right;
    padding: 15px 10px 0px 0px;
    margin: 0px auto 0px auto;
    text-align: left;
}
@media only screen and (max-width: 750px)
{
    #left, #center, #right
    {
        display: block;
        float: none;
        width: 100%;
        padding: 15px 10px 0px 0px;
        margin: 0px auto 0px auto;
        text-align: left;
    }
}
#clear {    /* Beendet den Float-Bereich */
    clear: both;
}
.main aside {
    background: #4d4d4d;
}

.title {
    color: white;
}

/* ==============
    Menu
   ============== */

nav#main-menu ul {
    padding: 0;
    list-style-type: none;
}

nav#main-menu ul li a{
    display: block;
}

nav#main-menu ul li a,
.submenu ul li a,
.menu-button{
		padding: 12px;
    /*text-align: center;*/
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
		background: #b3b3b3;
}

nav a:hover {
    text-decoration: underline;
}

.pinned {
		position: fixed;
		top: 0px;
		width: 100%;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main div.submenu nav{
	overflow: hidden;
	max-height: none;
}

.main div.submenu,
.main div.submenu-spacer,
.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* Anchorific */

#main-content h1:before,
#main-content h2:before,
#main-content h3:before,
#main-content h4:before,
#main-content h5:before,
#main-content h6:before {
	content: "";
	display: block;
	width: 0;
	height: 50px;
	margin: -50px 0 0;
}

a.anchor {
	text-decoration: none;
	padding-left: 1%;
	opacity: 0.2;
	font-weight: none;
	font-size: 1em;
}

.anchorific ul {
	list-style-type: none;
	margin: 0;
  padding-left: 1em;
}

.anchorific li ul {
	list-style-type: none;
	position: relative;
	width: auto;
}

.anchorific ul li a {
	display: block;
	text-decoration: none;
	padding: 5px;
}

.anchorific li.active > ul {
	display: block;
}

.anchorific li {
	clear: left;
}

a.anchor {
	text-decoration: none;
	position: relative;
	padding-left: 1%;
	font-weight: none;
	font-size: 1em;
	color: gray;
}

a:hover.anchor {
	opacity: 1;
}

.main div.submenu,
.main div.submenu-spacer {
	padding: 0;
	text-align: left;
}

.anchorific li.active > a {
	border-right: #e54339 10px solid;
}

.anchorific li ul li > ul {
    margin-left: auto;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Header Image
   ========================================================================== */
.header-image {
		position: relative;
		margin-bottom: -12px;
		transition: transform 0.3s ease-out;
}
.header-image:after {
	padding-top: 34.342105263157894736%;
	display: block;
	content: '';
}

#skyline,
#header-fg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%
}

#skyline {
		z-index: -1;
}

#header-fg {
		z-index: 0;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav#main-menu a {
        float: left;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav#main-menu ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
		.main div.submenu,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;

    }

    nav#main-menu {
				width: 100%;
    }
/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

		.main div.submenu,
		.main div.submenu-spacer,
    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    nav {
				display: none;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
